.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 49px;

    width: 345px;
    height: 555px;

    background: var(--preto-quase-total);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: var(--borda);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.nft-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 31px;

    width: 345px;
    height: 258px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    .nft-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 19px;

        width: 296px;
        height: 258px;

        background-color: var(--background-nft);
        border-radius: var(--borda);

        flex: none;
        order: 0;
        flex-grow: 0;

        .nft {
            width: 100%;
            height: 100%;

            border-radius: var(--borda);

            flex: none;
            order: 0;
            flex-grow: 0;

        }
    }
}

.nft-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 19px;

    width: 345px;
    height: 196px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    .nft-dados {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        width: 296px;
        height: 196px;

        flex: none;
        order: 0;
        flex-grow: 0;

        .nft-nome {
            width: auto;
            height: 25px;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 500;
            font-size: var(--font-size-sm);
            line-height: 25px;

            color: var(--branco);

            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .nft-descricao {
            width: 100%;
            height: auto;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 300;
            font-size: var(--font-size-xs);
            line-height: 1.2;

            color: var(--cinza-claro);

            flex: none;
            order: 1;
            flex-grow: 0;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .nft-compra {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 0px 0px;
            gap: 24px;

            width: 296px;
            height: 139px;

            flex: none;
            order: 2;
            flex-grow: 0;

            .nft-preco {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 10px;

                width: auto;
                height: 29px;

                flex: none;
                order: 0;
                flex-grow: 0;

                .Ethereum {
                    width: 29px;
                    height: 29px;

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }

                h1 {
                    width: auto;
                    height: 22px;

                    font-family: var(--font-principal);
                    font-style: normal;
                    font-weight: 600;
                    font-size: var(--font-size-md);
                    line-height: 22px;

                    color: var(--branco-quase-total);

                    flex: none;
                    order: 1;
                    flex-grow: 0;
                }
            }

            .btn-comprar-adicionarCarrinho {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 26px;
                gap: 10px;

                width: 296px;
                height: 66px;

                background: var(--button);
                border-radius: var(--borda);
                border: none;
                cursor: pointer;

                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;

                font-family: var(--font-principal);
                font-style: normal;
                font-weight: 600;
                font-size: var(--font-size-base);
                line-height: 22px;

                color: var(--branco);

                flex: none;
                order: 0;
                flex-grow: 0;

                &.adicionado {
                    background-color: var(--laranja-principal);
                }
            }

        }
    }
}

/* !-- MODAL DAS INFORMAÇÕES DA NFT --! */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--cinza-medio);
    padding: 3rem;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.close-button {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40px;
    height: 40px;
    top: -20px;
    left: -10px;
    position: relative;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    background-color: var(--laranja-principal);

    .icon {
        color: var(--branco-quase-total);
    }
}

.nft-card {
    width: 300px;
    height: 300px;
    top: -5px;
    left: calc(50% - 300px/2);
    position: relative;

    border-radius: var(--borda);
}

.dados {
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    top: -2px;
    left: calc(50% - auto/2);
    position: relative;

    gap: 2px;

    h2 {
        width: auto;
        height: 35px;

        font-family: var(--font-principal);
        font-size: var(--font-size-md);
        font-weight: 700;
        line-height: 35px;

        color: var(--branco-quase-total);
    }

    p {
        width: 95%;
        height: auto;

        font-family: var(--font-principal);
        font-size: var(--font-size-xs);
        font-weight: 500;
        line-height: 20px;

        color: var(--cinza-claro);
    }
}

.preco {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: auto;
    height: 29px;
    top: 14px;
    left: calc(50% - auto/2);
    position: relative;


    flex: none;
    order: 0;
    flex-grow: 0;

    .Ethereum {
        width: 29px;
        height: 29px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    p {
        width: auto;
        height: 22px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 600;
        font-size: var(--font-size-sm);
        line-height: 22px;

        color: var(--branco-quase-total);

        flex: none;
        order: 1;
        flex-grow: 0;
    }
}