header {
    position: relative;
    width: 100%;
    height: 100px;

    background: var(--carvao-escuro);
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);

    overflow: hidden;

    & .Logo {
        position: absolute;
        width: 101px;
        height: 38px;
        left: 41px;
        top: calc(50% - 38px/2 + 2px);
    }
}

.container-bag {
    display: flex;
    align-items: center;
    gap: 9px;

    position: absolute;
    width: 54px;
    height: 33px;
    right: 43px;
    top: calc(50% - 33px / 2);

    .BagIcon {
        width: 33px;
        height: 33px;
        object-fit: contain;
    }

    p {
        font-family: var(--font-principal);
        font-weight: 400;
        font-size: var(--font-size-md);
        line-height: 26px;
        text-align: center;
        color: var(--branco);
    }
}