.ErrorBuyMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 8px;
    gap: 10px;
  
    position: fixed;
    width: 320px;
    height: 56px;
    top: 80px;
    left: calc(50% - 382px/2);
    background: var(--vermelho-message); 
    border-radius: var(--borda);

    z-index: 9999;
  
    p {
      width: 240px;
      height: 24px;
      font-family: var(--font-principal);
      font-style: normal;
      font-weight: 400;
      font-size: var(--font-size-base);
      line-height: 24px;
      color: var(--branco-quase-total);
    }
  }
  
  .icon {
    color: var(--branco-quase-total);
  }
  