.cart {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9;
}

.cart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 8;
}

.container-cart {
    position: absolute;
    width: 679px;
    height: 100vh;
    right: 0;
    z-index: 999;
    background-color: var(--carvao-escuro);
    box-shadow: -29px 0px 9.8px rgba(0, 0, 0, 0.1);

    overflow-y: auto;
    overflow-x: hidden;
}

.header-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 84px;

    width: 100%;
    height: 60px;
    position: relative;
    top: 40px;
    left: 60px;

    .btn-close {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        cursor: pointer;
        border: none;
        background-color: var(--cinza-button);

        .icon {
            color: var(--laranja-principal);
        }
    }

    h1 {
        font-family: var(--font-principal);
        font-weight: 500;
        font-size: var(--font-size-lg);
        color: var(--branco);
    }
}

.container-infoCompra {
    width: 620px;
    margin: 40px auto 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    min-height: 520px;

    .container-itens {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 27px;
        width: 620px;

        min-height: 496px;

        .cart-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 17px 30px;
            gap: 27px;
            width: 620px;
            height: auto;

            .item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 17px 30px;
                gap: 30px;
                max-width: 620px;
                height: 200px;

                background: var(--background-item-cart);
                border-radius: var(--borda);

                flex: none;
                order: 0;
                align-self: center;
                flex-grow: 0;

                .item-image {
                    width: 161px;
                    height: 161px;

                    border-radius: var(--borda);

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }

                .item-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 8px 0px;
                    gap: 16px;

                    width: 367px;
                    height: 160px;

                    flex: none;
                    order: 1;
                    flex-grow: 1;

                    .item-dados {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 5px;

                        width: 367px;
                        height: 42px;

                        flex: none;
                        order: 0;
                        align-self: stretch;
                        flex-grow: 0;

                        h3 {
                            width: auto;
                            height: 25px;

                            font-family: var(--font-principal);
                            font-style: normal;
                            font-weight: 500;
                            font-size: var(--font-size-sm);
                            line-height: 25px;

                            color: var(--branco);

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }

                        p {
                            width: 100%;
                            height: auto;

                            font-family: var(--font-principal);
                            font-style: normal;
                            font-weight: 300;
                            font-size: var(--font-size-xs);
                            line-height: 1.2;

                            color: var(--cinza-claro);

                            flex: none;
                            order: 1;
                            flex-grow: 0;

                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .price-row {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px;
                        gap: 10px;

                        width: auto;
                        height: 29px;

                        flex: none;
                        order: 1;
                        flex-grow: 0;

                        .Ethereum {
                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }

                        strong {
                            width: auto;
                            height: 26px;

                            font-family: var(--font-principal);
                            font-style: normal;
                            font-weight: 600;
                            font-size: var(--font-size-md);
                            line-height: 26px;
                            color: var(--branco-quase-total);

                            flex: none;
                            order: 1;
                            flex-grow: 0;
                            white-space: nowrap;
                        }
                    }

                    .quantity-btn {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px;
                        gap: 200px;

                        width: 367px;
                        height: 49px;

                        flex: none;
                        order: 2;
                        align-self: stretch;
                        flex-grow: 0;

                        .quantity-control {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 12px 8px;
                            gap: 16px;

                            margin: 0 auto;
                            width: 115px;
                            height: 49px;

                            background: var(--carvao-escuro);
                            border-radius: var(--borda);

                            flex: none;
                            order: 0;
                            flex-grow: 0;

                            button {
                                background-color: transparent;
                                color: var(--branco-quase-total);
                                border: none;
                                font-size: var(--font-size-xs);

                                cursor: pointer;
                            }

                            span {
                                width: auto;
                                height: 20px;

                                font-family: var(--font-principal);
                                font-style: normal;
                                font-weight: 600;
                                font-size: var(--font-size-xs);
                                line-height: 20px;
                                text-align: center;

                                color: var(--branco);
                            }
                        }

                        .btn-remove {
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            width: 43px;
                            height: 43px;

                            background: var(--laranja-principal);

                            border: none;
                            border-radius: 100%;
                            cursor: pointer;

                            flex: none;
                            order: 1;
                            flex-grow: 0;

                        }
                    }
                }
            }
        }
    }

    .total {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 380px;

        width: auto;
        min-width: 580px;
        height: 34px;
        overflow: hidden;

        flex: none;
        order: 0;
        flex-grow: 0;

        h1 {
            width: auto;
            height: 26px;

            font-family: var(--font-principal);
            font-style: normal;
            font-weight: 700;
            font-size: var(--font-size-lg);
            line-height: 26px;

            letter-spacing: -1px;
            text-transform: uppercase;

            color: var(--branco);

            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .preco-total {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            gap: 10px;

            width: auto;
            height: 34px;
            flex: none;
            order: 1;
            flex-grow: 1;
            overflow: hidden;

            .Ethereum {
                flex: none;
                order: 0;
                flex-grow: 0;
            }

            h2 {
                width: auto;
                height: 26px;

                font-family: var(--font-principal);
                font-style: normal;
                font-weight: 600;
                font-size: var(--font-size-lg);
                line-height: 26px;
                color: var(--branco-quase-total);

                flex: none;
                order: 1;
                flex-grow: 0;
                white-space: nowrap;
            }
        }
    }

    .btn-finalizar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 26px;

        width: 620px;
        height: 81px;
        margin-top: 10px;

        gap: 10px;

        background: var(--laranja-principal);
        box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25);
        border-radius: var(--borda);
        border: none;
        cursor: pointer;

        font-family: var(--font-principal);
        font-weight: 700;
        font-size: var(--font-size-base);
        line-height: 22px;

        color: var(--branco);

        &:active {
            transform: scale(0.58);
        }
    }

    .contador-itens {
        width: auto;
        height: 24px;

        font-family: var(--font-principal);
        font-style: normal;
        font-weight: 400;
        font-size: var(--font-size-base);
        line-height: 24px;

        color: var(--branco-quase-total);
    }
}

@media (max-width:1440px) {
    .container-cart {
        width: 650px;
    }

    .header-cart {
        gap: 84px;

        top: 30px;
        left: 40px;
    }

    .container-infoCompra {
        width: 590px;
        margin: 30px auto 50px auto;
        gap: 25px;

        min-height: 480px;

        .container-itens {
            gap: 22px;
            width: 590px;

            min-height: 496px;

            .cart-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 17px 30px;
                gap: 27px;
                width: 590px;
                height: auto;

                .item {
                    max-width: 590px;
                }
            }
        }


        .total {
            gap: 360px;

            min-width: 560px;
        }

        .btn-finalizar {
            padding: 10px 24px;

            width: 590px;
            height: 81px;
            margin-top: 10px;

            gap: 10px;
        }
    }
}

@media (max-width: 430px) {
    .container-cart {
        width: 100%;
    }

    .header-cart {
        gap: 40px;

        height: 60px;
        top: 30px;
        left: 50px;

        .btn-close {
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }

        h1 {
            font-size: var(--font-size-md);
        }
    }

    .container-infoCompra {
        width: 100%;
        margin: 45px auto 40px auto;
        padding: 0;
        gap: 30px;

        .container-itens {
            gap: 20px;
            width: 100%;

            .cart-item {
                padding: 10px 0 10px 0;
                gap: 20px;
                width: 100%;

                .item {
                    gap: 10px;
                    width: 100%;
                    height: 150px;

                    .item-image {
                        width: 120px;
                        height: 120px;
                    }

                    .item-info {
                        gap: 16px;

                        width: 267px;
                        height: 130px;

                        .item-dados {
                            gap: 2px;

                            width: 267px;
                            height: 38px;

                            h3 {
                                width: auto;
                                height: 17px;

                                font-size: var(--font-size-base);
                                line-height: 17px;
                            }

                            p {
                                width: 100%;
                                height: auto;

                                font-size: var(--font-size-xxs);
                            }
                        }

                        .price-row {
                            gap: 8px;

                            width: auto;
                            height: 24px;

                            .Ethereum {
                                width: 24px;
                                height: 24px;
                            }

                            strong {
                                width: auto;
                                height: 20px;

                                font-size: var(--font-size-sm);
                                line-height: 20px;
                            }
                        }

                        .quantity-btn {
                            gap: 100px;

                            width: 267px;
                            height: 40px;

                            .quantity-control {
                                padding: 8px 4px;
                                gap: 16px;

                                width: 100px;
                                height: 40px;
                            }

                            .btn-remove {
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                width: 40px;
                                height: 40px;

                                background: var(--laranja-principal);

                                .Delete {
                                    width: 28px;
                                    height: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .total {
            gap: 20px;
            min-width: 80%;
            height: 30px;

            h1 {
                width: auto;
                height: 22px;

                font-size: var(--font-size-md);
                line-height: 22px;
                flex-grow: 1;
            }

            .preco-total {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0;
                gap: 10px;

                width: auto;
                height: 34px;
                flex: none;
                order: 1;
                flex-grow: 0;
                overflow: hidden;

                .Ethereum {
                    width: 28px;
                    height: 28px;
                }

                h2 {
                    height: 22px;

                    font-size: var(--font-size-md);
                    line-height: 22px;
                }
            }
        }

        .btn-finalizar {
            width: 100%;
        }
    }
}

